*{
    padding: 0;
    margin: 0;
}

body{
    position: relative;
}
header{
    position: relative;
    top: 0;
    width: 100%;
    background-color: rgb(245, 76, 203) ;
    border: 8px solid aqua;
}


h1{
    color: aqua;
    font-family: monospace;
    font-size: xx-large;
    font-weight: bolder;
  }
  h2{
    color: aqua;
    font-family: monospace;
    font-size: large;
    font-weight: bolder;
  }
  p{
    color: white;
    font-family: monospace;
    font-size: large ;
  }
  section{
    color: white;
    font-family: monospace;
    font-size: large;
    padding: 30px;
  }
  ul{
    list-style-type: square;
    border: 3px solid rgb(245, 76, 203);
    background-color:  rgb(240, 240, 177);
  }
  li{
    margin: 5px;
    background-color: rgb(162, 87, 233);
    list-style: none;
  }

  a{
    color: white;
    text-decoration: none;
}

  button{
    padding: 3%;
    background-color:  rgb(240, 240, 177);
    border: 8px solid rgb(245, 76, 203);
    column-gap: 20px;
    
  }
  footer{
    background-color:rgb(245, 76, 203) ;
    border: 8px solid aqua;
    padding: 2%;
    word-spacing: 50%;
  }

  img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 6px solid rgb(229, 248, 175) ;
    object-position: right;
  }


.container{
    width: 1600px;
    margin: auto;
}




.navbar{
    width: 95%;
    margin: auto;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: monospace;
}

.nav-menu{
    position:relative;
    display: flex;
    flex-flow: row wrap;
    justify-content:space-between ;
    align-items: center;
    gap: 3px;
    background-color: rgb(240, 240, 177);
    border-color: rgb(240, 240, 177);
    
}

.nav-branding{
    font-size: 3.0rem;
}


.home, .about, .experience, .skills, .connect{
    height: 720px;
    margin: 70px ;
    border: 1px solid black;
    
}

.about,.connect{
    margin-top: 0;
}

.flex-grid{
    display: flex;
    flex-flow: row wrap;
    column-gap: 20px;
  
}

.flex-grid,.col{
    flex: 1;
}

*{
    box-sizing: border-box;
}
body{
    padding: 10px;
}

.flex-grid{
    margin: 0 0 20px 0;
    column-gap: 20px;

    
}

.col{
    background: rgb(245, 76, 203);
    border: 6px solid  rgb(240, 240, 177);
    padding: 10px;
   
}



@media(max-width:1280px){
    .container{
        width: 100%;
    }
}



@media screen and (max-width:845px){
    .page-title{
    font-size: 90px;
}
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

@media screen and (max-width: 175px) {
  .column {
    width: 100%;
  }
}






